<ion-header>
  <ion-toolbar>
    <ion-title text-center>หน้าหลัก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar showCancelButton="never"></ion-searchbar> -->
  <ion-segment (ionChange)="staticToggle($event)" color="tertiary" value="node_list">
    <ion-segment-button value="node_list">
      <ion-label>Node List</ion-label>
      <ion-icon name="ellipse-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="image_list">
      <ion-label>Image List</ion-label>
      <ion-icon name="images-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-item *ngIf="this.staticNodeList">
    <h1>Node List</h1>
  </ion-item>
  <ion-list *ngIf="this.staticNodeList">
    <ion-card *ngFor="let location of (locations| async)">
      <ion-card-header>
        <ion-card-subtitle>รหัสประจำจุดเครื่องหมาย:</ion-card-subtitle>
        <ion-card-title>{{location.id}} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <p><b>ชื่อประจำจุดเครื่องหมาย: </b>{{location.name}}</p>
            <p><b>ชั้น: </b>{{location.floor}}</p>
            <p><b>พิกัดในแนวแกน X:</b> {{location.x_point}} <b>พิกัดในแนวแกน Y:</b> {{location.y_point}}</p>
          </ion-col>
          <ion-col>
            <p><b>จุดเครื่องหมายในบริเวณ:</b></p>
            <p *ngFor="let node of neighor">{{node}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-item *ngIf="this.staticImageList">
    <h1>Image List</h1>
  </ion-item>
  <ion-list *ngIf="this.staticImageList">
    <ion-card *ngFor="let img of (imgs | async)">
      <img [src]="img.data"/>
      <ion-card-header>
        <ion-card-subtitle>ชื่ออาคาร</ion-card-subtitle>
        <ion-card-title>{{img.name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
