<ion-header translucent>
  <ion-toolbar>
    <ion-title text-center>เพิ่มข้อมูลโครงสร้างภายในอาคาร</ion-title>
    <ion-button *ngIf="!this.editStage" slot="end" color="danger" (click)="submitForm()"><ion-icon name="save" style="margin-right: 3%;"></ion-icon> บันทึกข้อมูล </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>ข้อมูล</h2>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">รหัสประจำอาคาร</ion-label>
                <ion-input [(ngModel)]="buildingID" id="id"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-label position="floating">ชั้น</ion-label>
                <ion-input [(ngModel)]="buildingFloor" id="floor"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">ชื่ออาคาร</ion-label>
                <ion-input [(ngModel)]="buildingName" id="buildingName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-button expand="block" (click)="addNode()" ><ion-icon style="margin-right: 1%;" name="add-circle-outline"></ion-icon>เพิ่มจุดเครื่องหมาย</ion-button>
          <ion-card *ngFor="let locat of locations;let i = index;">
            <ion-icon (click)="delNode()" color="danger" size="large" style="margin-left: 90%; margin-top: 2%;" name="close-circle-outline"></ion-icon>
            <ion-card-header>
              <ion-card-subtitle>รหัสประจำจุดเครื่องหมาย</ion-card-subtitle>
              <ion-card-title>{{this.buildingID}}_{{this.buildingFloor}} - {{i}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label position="stacked"><h3>ชื่อประจำจุดเครื่องหมาย:</h3></ion-label>
              <ion-item>  
                <ion-input type="text" [(ngModel)]="this.nodeNameBuffer[i]" ></ion-input>
              </ion-item>
              <ion-label position="stacked"><h3>พิกัดบนรูปแผนผัง</h3></ion-label>
              <ion-row>
                <ion-col>
                  <ion-input required type="number" [(ngModel)]="this.nodeXpointBuffer[i]" id="x">X:</ion-input>
                </ion-col>
                <ion-col>
                  <ion-input required type="number" [(ngModel)]="this.nodeYpointBuffer[i]" id="y">Y:</ion-input>
                </ion-col>
              </ion-row>
              <ion-label position="stacked">จุดเครื่องหมายในบริเวณโดยรอบ</ion-label>
              <ion-item>  
                <ion-textarea rows="2" cols="20" [(ngModel)]="this.nodeNeighborBuffer[i]"></ion-textarea>
                <ion-input required type="number" [(ngModel)]="this.weightNeighbor[i]" id="weight">ระยะห่างระหว่างจุด:</ion-input>
              </ion-item>
              <ion-label style="color: red;">
                <b>*หมายเหตุ:</b> กรุณาใส่ชื่อจุดเครื่องหมายโดยรอบของจุดโดยใช้เครื่องหมายจุลภาค (',') คั่นกลางระหว่างจุดเครื่องหมาย
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <h2>แผนผังอาคาร</h2>
          <ion-button expand="block" fill="outline">
            <input type="file" name="image" (change)="fileProgress($event)"/>
          </ion-button>
          <img *ngIf="previewUrl" [src]="previewUrl"/>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer *ngIf="this.editStage">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteIdea()">
        <ion-icon name="trash" slot="start"></ion-icon>
        ลบข้อมูล
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateIdea()">
        <ion-icon name="save" slot="start"></ion-icon>
        อัปเดตข้อมูล
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

